/***********************************************************  LAYOUT   */
body, html {
	margin:0;
	padding:0;
}
#search-form div,#search-form button {
	display: block;
	left: 2%;
	width: 30%;
	min-width: 250px;
	position: relative;
}
#progress {
	left: 2%;
	width: 30%;
	min-width: 250px;
	display:none;
	top:5px;
}
.tab-title {
	padding: 10px;
	background: rgba(255,255,255,0.7);
	position: absolute; /* required to make background work */
	z-index: 2;
}
.tab-title span {
	font-size: 24px;
}
.tab-title-map.has-zone {
	cursor:pointer;
}
.extension{
	font-size: 18px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.validation{
	color: red;
	display:none;
	left: 2%;
	width: 30%;
	position: relative;
}
img.logo{
	display: inline-block;
}
#filter-input {
	background:white;
	color:black;
}
#spinner {
	margin:24px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.ui-menu-item b {
	display:inline-block;
	width:calc(100% - 108px);
	height:20px;
	line-height:20px;
	overflow:hidden;
	margin:0;
}
.ui-menu-item i {
	display:inline-block;
	width:106px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	margin:0;
	text-align:right;
	padding-right:2px; /* to top italic text clipping */
}
.ui-menu-item img {
	height:18px;
}
.justify {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/***********************************************************  MDL ADJUSTMENTS   */
.mdl-layout__header--waterfall{
	overflow:visible !important;
}
.header-height {
	height:56px!important;
}
.dot .mdl-badge:after {
	right: 0px!important;
	top: 0px!important;
}
.mdl-layout__tab .mdl-badge:after {
	top: -16px!important;
}
.white-header-button {
	color: white!important;
	font-weight:400!important;
	font-size: 16px!important;
}
.mdl-dialog {
	width: 480px !important;
}
@media screen and (max-width: 600px) {
	.mdl-dialog {
		width: 80% !important;
	}
}
.dialog-icon {
	position: relative;
    display: inline-block;
}
.dialog-content {
	padding-bottom:8px;
}
.mdl-dialog__title.even {
	text-align:justify;
}
.mdl-layout__content {
	overflow-y:hidden; /* prevent asset icons very close to the bottom of the screen from causing a vertical scroll bar */
}
/***********************************************************  MAP   */
div.map {
	position: absolute; /* required to make position:absolue of children work? */
	margin: auto;
	bottom: 0;
	left: 0;
	right:0;
}
.asset-container, img.map, svg {
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
img.map {
	opacity:0.4;
}
/***********************************************************  ASSETS   */
.asset-container {
	pointer-events: none;
}
.asset {
	position: absolute;
	margin-top:-16px;
	margin-left:-16px;
	pointer-events: all;
	z-index:20;
}
.asset:hover {
	opacity:1;
	z-index:100;
}
.hover {
	position:absolute;
	top:0px;
	left:32px;
	text-align:left;
	color:green;
	background:white;
	white-space: nowrap;
	pointer-events : none;
	border:2px solid blue;
	border-radius:6px;
	padding:0 6px;
	z-index:99;
}
.hover div{
	display:inline-block;
	position:relative;
}
.hover.left {
	margin-left:-100%;
	transform:translateX(-100%);
	z-index:99;
}
.hover.top {
	transform:translateY(-100%);
	z-index:99;
}
.hover.left.top {
	transform:translate3d(-100%, -80%, 0);
}
.asset .dot {
	display:block;
	opacity:0.8;
	position:relative; /* https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/5116981/ */
}
.asset .dot .mdl-badge {
	position:static;
}
.asset .dot:hover {
	opacity:1;
}
.asset .dot + .hover {
	display:none;
}
.asset .dot:hover + .hover {
	opacity:1;
	display:inline-block;
}
.numberCircle {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	padding: 0;
}
.myDept::after {
	content:' ';
	position:absolute;
    bottom: 0px;
    left: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4caf50;
}
.old::after {
	content: "warning";
	position:absolute;
	font-family: 'Material Icons';
	-moz-font-feature-settings: "liga";
	font-feature-settings:"liga" 1; /* required for IE */
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
	top:-2px;
	left:0;
	color: orange;
	text-shadow: 1px 1px black;
}
/***********************************************************  ZONES SVG   */
polygon {
  fill-opacity:0.1;
  stroke-opacity:0.2;
  transition:fill-opacity 0.1s;
  transition:stroke-opacity 0.1s;
  stroke-width:2;
}
g:hover polygon {
  fill-opacity:0.2;
  stroke-opacity:0.2;
}
text {
  text-anchor:middle;
  alignment-baseline:central;
  cursor: pointer;
  font-weight:bold;
  opacity: 0.5;
  font-size:12px;
  transition:font-size 0.15s;
}
g:hover text {
  font-size:14px;
  opacity:1;
  text-decoration: underline;
}
g {
  cursor: pointer;
}